.products__wrapp {
  max-width: 120rem;
  margin: 0 auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 5rem 0;

  &-header {
    background-color: #343748;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    //test
    color: #ffffff;

    &-link {
      color: #fff;
      text-decoration: none;
      padding: 0 2rem;
    }
  }
}

.featureproducts {
  // display:flex;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px;
  padding: 5rem 3rem;
}

//Product Card

.card__wrapp {
  width: 100%;
  position: relative;
  cursor: pointer;

  &-image--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    position: relative;
    background-color: rgba(197, 200, 214, 0.29);

    & img {
      width: 75%;
    }

    & span {
      background-color: rgba(40, 42, 55, 0.9);
      color: #ffffff;
      position: absolute;
      top: 10px;
      right: 10px;
      border-radius: 10px;
      font-size: 1.2rem;
      width: 13%;
      height: 6%;
      text-align: center;
    }
  }

  &-eye {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(40, 42, 55, 0.9);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;

    &:hover {
      background-color: orangered;
    }

    & svg {
      color: #ffffff;
    }

  }

  &-desc--wrap {
    margin-top: 5px;

    &-raiting {
      & svg {
        margin-right: 5px;
      }
    }

    &-name {
      margin-top: 5px;
      text-transform: capitalize;
    }
    &-priceWrapp{
      display: flex;
      align-items: baseline;
      margin-top: 5px;
    }
    
    &-price {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }
    &-oldprice{
      display: flex;
      align-items: center;
      color: rgb(180, 180, 180);
      text-decoration: line-through;
    }
  }

  // hover effects
  &:hover &-image--wrap {
    & img {
      filter: blur(1px);
    }
  }

  &:hover &-eye {
    opacity: 1;
    transition: all 1s ease;
  }

  &:hover &-desc--wrap {

    &-raiting {
      // transform: translate(0, -100%);
      // opacity: 0;
      // transition: all 1s ease;
      margin-bottom: 10px;
    }

    &-name {
      transform: translate(0, -35%);
      transition: all 1s ease;
      margin-bottom: 10px;
      font-weight: bold;
    }

    &-priceWrapp {
      transform: translate(0, -50%);
      transition: all 1s ease;
    }

  }

  &:hover .product-btn {
    transform: translate(0, -35%);
    transition: all 1s ease;
    opacity: 1;
  }
}


.bestsellers{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px;
  padding: 5rem 3rem;
}
