@import "./Header-bottom//Search-Bar/searchbar";


//HeaderTop container
.headerTop-wrapp {
    border-bottom: 1px solid rgba(128, 128, 128, 0.35);

    & div {
        display: flex;
        max-width: 120rem;
        margin: 0 auto;
    }



}

// Social component
.social-wrapp {
    width: 80%;
    border-right: 1px solid rgba(128, 128, 128, 0.35);

    .social__list {
        padding: .5rem 2rem;
        display: flex;

        &-item {
            width: 4rem;
            height: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background: orangered;
                border-radius: 5px;
            }

            &:hover a {
                color: #ffffff;
            }
        }

        &-link {
            color: black;

        }
    }
}

//Language component
.lang-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(128, 128, 128, 0.35);
    width: 10%;
    text-transform: uppercase;
    font-size: 1.2rem;


    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & img {
            width: 16px;
            height: 11px;
            margin-right: 3px;
        }
    }
}

//Curency component
.curency-wrapp {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


//HEADER Bottom

.headerbottom-wrapp {
    &-container {
        display: flex;
        max-width: 120rem;
        align-items: center;
        margin: 0 auto;
        margin-top: 2rem;
    }

    &-logo {
        width: 50%;
    }

    &-rigth {
        width: 50%;
        display: flex;
        font-weight: 600;
        font-size: 1.4rem;
        cursor: pointer;
        flex-direction: column;
        align-items: flex-end;

        & div {
            margin-right: 3rem;
            font-size: 1.4rem;
            cursor: pointer;

            &:hover {
                & svg {
                    fill: orangered !important;
                }
            }
        }

        & span {
            color: rgba(128, 128, 128, 0.84);
            font-size: 1.2rem;
            width: 8rem;
            text-align: center;
        }
    }
}

//Navigation

.nav-list {
    padding: 2rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;

    &-item {
        display: inline-block;
        padding: .3rem 1rem;
        &:not(:last-child) {
            border-right: 1px solid rgba(128, 128, 128, 0.35);
        }
    }
    &-link {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        &:hover{
            color:orangered;
        }
    }

}