.searchbar-wrapp {
  background-color: #343748;
  width: 100%;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchbar-nav {
  background-color: #ff5f2b;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
  font-weight: 600;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.13rem 4rem;
}

.searchbar-nav-name {
  color: white;
  margin-right: 20px;
}

.line {
  position: relative;
  width: 15px;
  height: 2px;
  background-color: #ffffff;
}

.line::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  top: 5px;
  left: 0;
}

.line::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #ffffff;
  top: -5px;
  left: 0;
}

.search-wrapp {
  position: relative;
  width: 65%;
}

.search-wrapp-input {
  width: 100%;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  padding: 1rem 5rem;
  font-size: 1.6rem;
}

.search-wrapp-input::-webkit-input-placeholder {
  color: rgba(209, 209, 209, 0.712);
}

.search-wrapp-input:-ms-input-placeholder {
  color: rgba(209, 209, 209, 0.712);
}

.search-wrapp-input::-ms-input-placeholder {
  color: rgba(209, 209, 209, 0.712);
}

.search-wrapp-input::placeholder {
  color: rgba(209, 209, 209, 0.712);
}

.search-wrapp-icon {
  position: absolute;
  right: 18px;
  top: 13%;
  background: orangered;
  width: 31px;
  height: 27px;
  text-align: center;
  line-height: 33px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.search-wrapp-icon:hover svg {
  color: white;
}

.profile-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11%;
  position: relative;
}

.item-count {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: orangered;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 58px;
  top: 18px;
}

.user,
.shoping {
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
}

.user:hover,
.shoping:hover {
  color: orangered;
}

.summ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerTop-wrapp {
  border-bottom: 1px solid rgba(128, 128, 128, 0.35);
}

.headerTop-wrapp div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}

.social-wrapp {
  width: 80%;
  border-right: 1px solid rgba(128, 128, 128, 0.35);
}

.social-wrapp .social__list {
  padding: .5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-wrapp .social__list-item {
  width: 4rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-wrapp .social__list-item:hover {
  background: orangered;
  border-radius: 5px;
}

.social-wrapp .social__list-item:hover a {
  color: #ffffff;
}

.social-wrapp .social__list-link {
  color: black;
}

.lang-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid rgba(128, 128, 128, 0.35);
  width: 10%;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.lang-wrapp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.lang-wrapp-item img {
  width: 16px;
  height: 11px;
  margin-right: 3px;
}

.curency-wrapp {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.curency-wrapp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerbottom-wrapp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}

.headerbottom-wrapp-logo {
  width: 50%;
}

.headerbottom-wrapp-rigth {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.headerbottom-wrapp-rigth div {
  margin-right: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.headerbottom-wrapp-rigth div:hover svg {
  fill: orangered !important;
}

.headerbottom-wrapp-rigth span {
  color: rgba(128, 128, 128, 0.84);
  font-size: 1.2rem;
  width: 8rem;
  text-align: center;
}

.nav-list {
  padding: 2rem 2rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.nav-list-item {
  display: inline-block;
  padding: .3rem 1rem;
}

.nav-list-item:not(:last-child) {
  border-right: 1px solid rgba(128, 128, 128, 0.35);
}

.nav-list-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.nav-list-link:hover {
  color: orangered;
}

.slider__wrapp {
  width: 100%;
  overflow: hidden;
}

.slider__wrapp-first {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #343748), to(transparent)), url(../../assets/slider/slide1.jpg);
  background-image: linear-gradient(to right, #343748 30%, transparent), url(../../assets/slider/slide1.jpg);
}

.slider__wrapp-first-intro {
  position: absolute;
  top: 30%;
  left: 10%;
}

.slider__wrapp-first-intro-link {
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 42px;
  background-color: #21232d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.slider__wrapp-first-intro-link:hover {
  background-color: orangered;
}

.slider__wrapp-first-intro-list li {
  padding: .5rem 0;
}

.slider__wrapp-first-intro-list-item1 {
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}

.slider__wrapp-first-intro-list-item2 {
  font-size: 3.7rem;
  letter-spacing: 3px;
  font-weight: 100;
}

.slider__wrapp-first-intro-list-item2 span {
  font-weight: bold;
}

.slider__wrapp-first-intro-list-item3 {
  font-size: 4rem;
  font-weight: 600;
  color: orangered;
}

.slider__wrapp-second {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #343748), to(transparent)), url(../../assets/slider/slide2.jpg);
  background-image: linear-gradient(to right, #343748 30%, transparent), url(../../assets/slider/slide2.jpg);
}

.slider__wrapp-second-intro {
  position: absolute;
  top: 30%;
  left: 10%;
}

.slider__wrapp-third {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(30%, #343748), to(transparent)), url(../../assets/slider/slide3.jpg);
  background-image: linear-gradient(to left, #343748 30%, transparent), url(../../assets/slider/slide3.jpg);
}

.slider__wrapp-third-intro {
  position: absolute;
  top: 30%;
  right: 10%;
}

.slider__wrapp-first, .slider__wrapp-second, .slider__wrapp-third {
  background-size: cover;
  width: 100%;
  height: 80vh;
  color: white;
  background-position: 0 -15rem;
  position: relative;
  text-align: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
/*# sourceMappingURL=App.css.map */