@import "./components/Header/header";
@import "./components/Paralax/paralax";
@import "./components/Slider/slider";
@import "./components/Feature/feature";
@import "./components/Products-top/products-top";
@import "./components/common/common";








*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
}
html{
  box-sizing: border-box;
  font-size: 62.5%; // 1rem - 10px, 10px/16px = 62.5%
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}